* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* shared design */

.get-early-access-btn {
    padding: 13px 16px;
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* main design */

/* navbar design */
header {
    background-color: #FFFFFF;
    border: 1px solid black;
}

nav {
    /* border: 1px solid red; */
    width: 87%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .nav-links ul {
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

nav .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
}

nav .logo {
    /* border: 1px solid red; */
    max-width: 140px;
}

nav .logo img {
    width: 100%;
}

/* hero banner design */

#hero {
    padding: 120px 0 200px;
    background-image: url("./assets/hero-bg.png");
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .hero-container {
    margin: 0 auto;
    width: 87%;
    max-width: 1400px;
    text-align: center;
    /* border: 1px solid red; */
}

#hero .hero-container .hero-head {
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

#hero .hero-container .hero-head .hero-offer {
    max-width: 240px;
    max-height: 35px;
    margin: 0 auto;
    padding: 12px 8px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

#hero .hero-container .hero-head .hero-offer p {
    font-size: 16px;
    font-weight: 500;
}

#hero .hero-container .hero-intro {
    margin-bottom: 20px;
}

#hero .hero-container .hero-intro h1 {
    font-size: 70px;
}

#hero .hero-container .hero-text {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 38px;
}

#hero .hero-container .hero-text p {
    color: #FFFFFF;
    line-height: 40px;
    font-size: 18px;
}

#hero .hero-container .hero-btn {
    margin: 0 auto;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container .hero-btn .hero-btn-1 {
    background-color: #469165;
    padding: 17px 16px 17px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#hero .hero-container .hero-btn .hero-btn-2 {
    background-color: transparent;
    padding: 16px 16px 16px 16px;
    border: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

/* card section */

#card {
    padding: 80px 120px;
    background-color: #F7F6F2;
}

#card .card-container {
    margin: 0 auto;
    text-align: center;
}

.card-container .card-head {
    text-align: center;
    margin-bottom: 35px;
}

.card-container .card-head h2 {
    color: #001931;
    font-size: 44px;
    margin-bottom: 16px;
    font-weight: bold;
}

.card-container .card-head p {
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}

.card-container .card-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.card-container .card-section .cards {
    max-width: 322px;
    height: 300px;
    /* border: 1px solid hsla(0, 0%, 0%, 0.075); */
    margin: 0 auto;
    box-shadow: 0 0 8px 0 hsla(0, 0%, 0%, 0.034);
    text-align: center;
    padding: 60px 20px 40px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card-container .card-section .cards .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 50%;
    max-width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.card-container .card-section .cards h3 {
    color: #001931;
    margin-bottom: 16px;
    font-size: 20px;
}

.card-container .card-section .cards p {
    color: #627382;
    line-height: 20px;
}


/* brain section */

#brain {
    padding: 120px;
    /* border: 1px solid red; */
}

.brain-container {
    display: flex;
    width: 87%;
    max-width: 1400px;
    gap: 60px;
    margin: 0 auto;
}

.brain-container .brain-info-container {
    padding: 102px 0;
    text-align: left;
}

.brain-info-container .brain-info .green-head {
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}

.brain-info-container .brain-info h1 {
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.brain-info-container .brain-info p {
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;
}

.brain-info-container .brain-info ul {
    list-style-type: none;
    padding: 0;
}

.brain-info-container .brain-info li .text{
    color: #001931;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.brain-info-container .brain-info li {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 16px;
}

/* challenge part design */

#challenge {
    padding: 2px 120px 120px 120px;
    /* border: 1px solid red; */
}

#challenge .challenge-container{
    margin: 0 auto;
    width: 87%;
    max-width: 1400px;
    /* border: 1px solid green; */
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
}

#challenge .challenge-container h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#challenge .challenge-container p{
    color: #627382;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

#challenge .challenge-container .challenge-btn button{
    margin: 0 auto;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* footer design */

footer {
    background-color: #001931;
}

footer .footer-container {
    margin: 0 auto;
    width: 93%;
    max-width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px 80px;
}

footer .footer-container .footer-menu p{
    line-height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 16px;
}

footer .footer-container .footer-menu .footer-links{
    display: flex;
    list-style-type: none;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.footer-links a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

footer .copyright {
    margin: 0 auto;
    width: 93%;
    max-width: 1500px;
    text-align: center;
    padding: 30px 0;
    color: #FAFAFA;
    font-size: 16px;
    line-height: 24px;
    border-top: 1px solid #e5e7eb8e;
}