* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* shared design */

.get-early-access-btn {
    padding: 13px 16px;
    border: none;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


/* main design */

/* navbar design */
header {
    background-color: #FFFFFF;
    border: 1px solid black;
}

nav {
    /* border: 1px solid red; */
    width: 87%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .nav-links ul{
    /* border: 1px solid red; */
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

nav .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    opacity: 90%;
}

nav .logo{
    /* border: 1px solid red; */
    max-width: 140px;
}
nav .logo img {
    width: 100%;
}

/* hero banner design */

#hero {
    padding: 120px 0 200px;
    background-image: url("./assets/hero-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero .hero-container {
    margin: 0 auto;
    width: 87%;
    max-width: 1400px;
    text-align: center;
    /* border: 1px solid red; */
}

#hero .hero-container .hero-head {
    text-align: center;
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

#hero .hero-container .hero-head .hero-offer{
    max-width: 240px;
    max-height: 35px;
    margin: 0 auto;
    padding: 12px 8px;
    border-radius: 1000px;
    background-color: #FFFFFF;
    color: #469165;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container .hero-head .hero-offer p{
    font-size: 16px;
    font-weight: 500;
}

#hero .hero-container .hero-intro {
    margin-bottom: 20px;
}

#hero .hero-container .hero-intro h1{
    font-size: 70px;
}

#hero .hero-container .hero-text {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 38px;
}

#hero .hero-container .hero-text p{
    color: #FFFFFF;
    line-height: 40px;
    font-size: 18px;
}

#hero .hero-container .hero-btn {
    margin: 0 auto;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-container .hero-btn .hero-btn-1{
    background-color: #469165;
    padding: 17px 16px 17px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

#hero .hero-container .hero-btn .hero-btn-2{
    background-color: transparent;
    padding: 16px 16px 16px 16px;
    border: none;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}